*{
  box-sizing: border-box;
}

a{
  color: rgb(41, 107, 35);
}

a:hover{
  color: rgb(18, 44, 16);
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

.padding{
  padding: 10px;
}

:root {
  --main-bg-color: rgb(199, 248, 184);
  --white-bg-color: rgb(245, 250, 244);
  --link-color: rgb(41, 107, 35);
  --tag-color: rgb(249, 220, 240);
  --current-link-color: rgb(218, 215, 215);
  --hover-nav-color:rgb(159, 153, 153);
  --page-link-active: rgb(98, 196, 89);
  --read-news: rgb(218, 215, 215);
  --grey: rgb(218, 215, 215);
}

.tag-wrapper{
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background: var(--tag-color);
}

.invalid-error{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-custom{
  background: var(--main-bg-color);
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

.btn-custom-no-active{
  background: var(--current-link-color);
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

.tag-view{
  display: inline-block;
  border-radius: 5px;
  background: var(--tag-color);
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 10px;
}

.btn-pink{
  background: rgb(249, 220, 240);
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

.btn-grey{
  background: var(--grey);
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
