.news-card{
    border: var(--main-bg-color) 2px solid;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 3px;
}

.news-card-author-name{
    margin-left: auto;
    width: 60%;
    font-size: 10px;
}

.news-card__date{
    margin-left: auto;
    width: 30%;
    font-size: 10px;
}

.news-card__description{
    width: 100%;
}

.news-card__edit-btn{
    display: inline-block;
    height: 20px;
    font-size: 10px;
}

.btn-panel{
    width: 20%;
    margin-left: auto;
}