.profile-card{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.btn_offset{
    display: block;
    margin-right: 10px;
}

.profile-btn-panel{
    width: 50%;
    display: flex;
    margin-left: auto;
}