.user-component{
    padding: 20px 10px;
    border: 2px solid var(--link-color);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.save-role-button{
    height: 40px;
}

.tag-container{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.tag_offset{
    margin-right: 5px;
    margin-bottom: 5px;
}