body{
    width: 100%;
    height: 100%;
}

.login-form{
    padding: 40px 30px;
    width: 320px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(241, 241, 241);
    border-radius: 10px;
}

.btn-login{
    width: 100%;
    background: rgb(199, 248, 184);
    border-radius: 6px;
}

.invalid-error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.header{
    text-align: center;
}